header{
	background-color: $noir;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	#logo_JDF{
		margin-top: 2%;
		width: 30%;
		margin-bottom: 2%;
	}
	.icon-boutique-vitrine{
		color: white;
		position: absolute;
		top: 13%;
		left: 2%;
		padding: 0.5%;
		text-align: left;
		font-size: 1.2em;
		text-decoration: none;
		border: 1px solid white;
		border-radius: 10px;
		transition-duration: 1s;
	}
	.icon-boutique-vitrine:hover{
		background-color: white;
		color: $noir;
	}
	nav{
		z-index: 999;
		background-color: #000000;
		padding-top: 1%;
		border-top: 2px solid #FFF;

		li{
		display: inline;
		padding: 5%;
		}
		li a:hover{
			text-shadow: 0px 0px 10px white;
		}
		img{
			margin-bottom: 1%;
		}
	}	
	a{
		text-decoration: none;
    	color: white;
    	font-size: 1.3em;
    	padding-bottom: 5%;
	}
	.header-right-parts{
		width: 13%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		float: right;
		padding: 1%;
		a{
		}
		.trad-site{
			font-family: Vladimir;
			span{
				color: white;
			}
			a:hover{
				text-decoration: none;
				color: #C0c0c0;
			}
		}
	}

	.paraRS{
		border: 1.5px solid #FFF;
		width: 5vh;
		height: 5vh;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition-duration: 1s;
		cursor: pointer;
		a{
			webkit-text-fill-color: #FFF;
		}
		i{
			color: #FFF;
			font-size: 1em;
		}
	}
	.paraRS:hover{
		background-color: white;
		i{
			color: $noir;
		}
	}
}

.menu-btn{
	width: 100px;
	margin-top: 0px;
	margin-left: 0px;
	padding: 0px;
	background: $noir;
	color: #FFF;
	text-align: center;
	font-size: 35px;
	cursor: pointer;
	border: 0px;

	&:hover{
		opacity: 0.6;
	}
}
.li-menu{
}

#menu ul {
margin:0;
padding:0;
list-style-type:none;
text-align:center;
}

#menu li {
float:left;
margin:auto;
padding:0;
background-color: $noir;
}
#menu li a {
display:block;
color:white;
font-size: 1em;
text-transform: uppercase;
text-decoration:none;
}
#menu ul li ul {
display:none;
}
#menu ul li:hover ul {
display:block;
position: absolute;
z-index: 99999;
background-color: $noir;
width: 26em;}
#menu ul li:hover ul a{
	padding-top: 5%;
	padding-bottom: 5%;
}
#menu li:hover ul li {
float:none;
}