@media screen and (min-width: 1700px) and (max-width: 2500px){
	#container-origine{
		margin-top: 8%;
	}
	#parfums-origine{
		width: 30%;
	}
	#image-background-hesperides{
		height: 1000px;
	}
	.images-parfumsjh{
		width: 50%;
	}
	#div2-jh{
		img{
			height: 500px;
		}
	}
	#img-accueil-etoffe{
		height: 1000px;
	}
	.images-parfums-etoffe{
		width: 30%;
		margin-top: -5%;
		margin-left: 5%;
	}
	.pres-etoffe{
		margin-left: 20%;
		margin-top: 1%;
	}
}