.return-home{
	position: absolute;
	top: 2vh;
	left: 2vh;
}
.notify-alert {
	text-align: center;
}
.article {
	height: 33vh;
	.titreArticle {
		display: flex;
		flex-direction : column;
	}
	.tile-body {
		display: flex;
		img {
			margin: 0vh 2vh 0vh 2vh;
			max-height: 20vh;
			max-width: auto;
		}
		.txtarticle {
			height: 20vh;
			display: inline-block;
			margin: 0vh 0vh 0vh 0vh;
			padding: 0vh 1vh 0vh 0vh;
			text-align: justify;
			overflow: auto;
		}
	}
	
}
.modif-article {
	display: flex;
	justify-content: space-between;
	.saveArticle {
		float: right;
	}	
}

.modifArticle {
	display: flex;
	flex-direction : column;
	display: inline-block;
	width: 100%;
}

.togle {
	padding-top: 20px;
	display: flex;
	align-items:center;
	justify-content:center;
	span{
		text-align: left;
	}
}
.user-settings {
	button{
		margin: 2vh;
	}
}
.app-sidebar{
	z-index: 9999999;
}
.app-header{
	z-index: 10000000;
}

.divimgUploads{
	display: flex;
	flex-wrap : wrap;
	align-items : center;
	justify-content : space-around;
	.imgUploads{
		height: 15%;
		width: 15%;
		img{
			height: 100%;
			width: 100%;
		}
	}
	.overlay{
		background-color: rgba(255,255,255,0.3);
		opacity: 0;
		height: 100%;
		width: 100%;
		z-index: 99999;
		display: flex;
		align-items : center;
		justify-content : center;
		justify-content : space-around;
		padding: 15%;
		button{
			display: flex;
			justify-content:center;
			align-items:center;
			i{
				margin:0;
			}
		}
	}
	.imgUploads:hover .overlay{
		opacity: 1;
	}
}
