.divcarousel {
	padding: 2vh 2vw;
	overflow: hidden;
	padding-bottom: 4vh;
	.carousel {
		height: 40vh;
		overflow: hidden;
		display: flex;
		justify-content :space-between;
		align-items : center;
	}
	.carousel-slide {
		height: 40vh;
		width: 100%;
		position: absolute;
		top: 0;
		right: 0;
	}
	.image-carousel {
		height:40vh;
		width: 70vw;
		background-size: cover;
		background-position: center;
	}
	.descriptions-carousel {
		padding: 2vh;
		position: absolute;
		top: 32vh;
		right: 2.5vh;
		width: 75%;
		background-color: rgba(0,0,0,0.6);
		color: white;
	}
	
}
.publi-recente {
	position: relative;
	padding: 2vh;
	background-color: $gris;
	background-clip: content-box;
	.carousel-inner {
		margin: 10vh 5vh;
	}
	.carousel-inner .carousel-item.active,
	.carousel-inner .carousel-item-next,
	.carousel-inner .carousel-item-prev {
		display: flex;
	}
	.carousel-inner .carousel-item-right.active,
	.carousel-inner .carousel-item-next {
		transform: translateX(25%);
	}

	.carousel-inner .carousel-item-left.active, 
	.carousel-inner .carousel-item-prev {
		transform: translateX(-25%);
	}

	.carousel-inner .carousel-item-right,
	.carousel-inner .carousel-item-left{ 
		transform: translateX(0);
	}
	.carousel-indicators .active {
		background-color: #5F5555;
	}
	.carousel {
		display: flex;
		justify-content :space-between;
		align-items : center;
	}
}
.fleche {
	cursor: pointer;
	background-color: $couleurbandeau;
	display: inline-block;
	position: inherit;
	height: 7vh;
	width: 7vh;
	color: white;
	font-size: 7vh;
	display: flex;
	justify-content:center;
}