h2 {
	font-size: 1.1vw;
}
.ptit-truc{
	background-color: $couleurbandeau;
	height: $hbandeau;
	z-index: 10;
	width: 1vw;
	position: absolute;
	top: 7.5vh;
	left: 1vw;
}
.une {
	height: $hbandeau;
	position: absolute;
	background-color: #cce5ff;
	z-index: 9999;
	padding: 2vh 2vh;
	top: 6vh;
	left: 2vw;
	box-shadow: 5px 5px 50px black;
	display: flex;
	align-items : center;
	justify-content : center;
}
.publi-recente, .div-calendrier {
	.une {
		left: 1vw;
	}
	.ptit-truc{
		left: 0vw;
	}
}
.demarches {
	padding: 3vh 2vw;
	background: $gris;
	background-clip: content-box;
	display: flex;
	align-items:center;
	position: sticky;
	top: 20px;
	ul {
		margin-top: 10vh;
		list-style-type: none;
	}
	li:before {
		content: '- ';
	}
	a {
		color: black;
		text-decoration: underline;
	}
}
.div-actus {
	padding-right: 0;
}
.actus{
	height: 100%;
	padding: 3vh 1.2vw;
	background-position: center;
	background-size: cover;
	background-clip: content-box;
	display: flex;
	justify-content : flex-end;
	align-items : flex-end;
	.date-une{
		background-color: $couleurbandeau;
		position: absolute;
		top: 3vh;
		height: 10vh;
		width: 10vh;
		text-align: center;
		.jours {
			font-size: 5vh;
			line-height: 5vh;
		}
	}
	.description-actus {
		display: inline-block;
		width: 75%;
		color: white;
		background-color: rgba(0,0,0,0.6);
		padding: 2vh;
		position: absolute;
		top: 24.2vh;
		right: 1.2vh;
	}
}

.div-mini {
	padding-right: 1vw;
	.div-mini-actus {
		display: flex;
		flex-wrap:wrap;
		justify-content : space-between;
		flex-direction :column;
		height: 40vh;
		padding: 3vh 0.5vw 3vh 1vw;
		text-align: right;
		.mini-actus {
			width: 48%;
			height: 48%;
			background-size: cover;
			background-clip: content-box;
			display: flex;
			flex-direction : row-reverse;
			.date-actus {
				display: inline-block;
				background-color: $couleurbandeau;
				padding: 0.5vh 2vh;
				height: $hbandeau;
				width: 65%;
				text-align: center;
				display: flex;
				align-items : center;
				justify-content : center;
			}
		}
	}
}
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
.div-calendrier {
	display: flex;
	justify-content : center;
	padding: 2vh;
	background-color: $gris;
	background-clip: content-box;
	position: relative;
	#c1 {
		border: solid red 1px;
	}
	#c2 {
		border: solid green 1px;
	}
	#c3 {
		border: solid blue 1px;
	}
	.calendrier {
		margin: 15vh 2vh 5vh 2vh;
		display: flex;
		flex-direction : column;
		text-align: center;
		justify-content : center;
		color: white;
		font-family: 'Comfortaa', cursive;
		font-weight: bold;
		.date1, .date2, .date3 {
			height: 25vh;
			display: flex;
			align-items : center;
			justify-content : center;
			flex-direction: column;
			font-size: 6vh;
			line-height: 10vh;
			.j{
				font-size: 10vh;
			}
		}
		.date1, .rouge-cal {
			background-color: red;
			color : white;
		}
		.date2, .vert-cal {
			background-color: green;
			color : white;
		}
		.date3, .bleu-cal {
			background-color: blue;
			color : white;
		}
		.jours {
			display: flex;
			flex-wrap : wrap;
			flex-direction :column;
			align-content:space-between;
			display: inline-block;
			background-color: white;
			color: black;
			padding: 2vh 0vh;
		}
		p{
			text-align: center;
			display: inline-block;
			width: 14%;
		}
		.gris-cal {
			color: #999;
		}
	}
}