header {
	background-image: url("../../../img/header.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 40vh;
	display: flex;
	flex-wrap:wrap;
	justify-content : center;
	h1 {
		display: flex;
		align-items:center;
		justify-content : center;
		background-color: white;
		text-align: center;
		height: 8vh;
		margin: 0px;
		padding: 2vh 5vh 3vh;
		border-radius: 0px 0px 100px 100px;
	}
	.menu {
		background-color: $gris;
		height: 5vh;
		margin-top: 27vh ;
		display: flex;
		align-items : center;
		ul {		
			display: flex;
			width: 100%;
			justify-content : space-around;
		}
		li {
			list-style-type: none;
			a {
				color: #1a1f66;
			}
		}
	}
}